/*********************************************

This is the style file for this project.

**********************************************/

#rightDoor{
  width: auto;
  height: 600px;
  position: absolute;
  margin-left: 20%;
  padding-top: 10%;
}

#leftDoor{
  width: auto;
  height: 600px;
  position: absolute;
  padding-left: 55%;
  padding-right: 10%;
  padding-top: 10%;

}

body{
  background-image: url("/assets/images/wall.jpg");
}
