/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
}
/* mouth in upper left corner */
#mouth {
  width:30%;
  height:auto;
  position: absolute;
  top: 0;
  right: 0;
  /* cursor changes when over the mouth*/
  cursor: pointer;
}
/* fork attributes */
#fork {
    width: 25%;
    height: auto;
    /* positioned above everything except meatball*/
    z-index: 800;
}
/* bowl in bottom left corner*/
#bowl {
  position: absolute;
  width: auto;
  height: 40%;
  bottom: 0;
  left: 0;
}
/* meatball in bottom left corner on top of spaghetti */
#meatball {
  width:15%;
  height:auto;
  position:absolute;
  bottom:0;
  left:0;
  margin-left: 15%;
  margin-bottom: 15%;
/* positioned above everything*/
  z-index: 999;
/* cursor changes when over the meatball*/
  cursor: pointer;
}
/* meatball on fork in bottom left corner on top of spaghetti */
#revealed {
  width: 30%;
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  margin-bottom: 15%;
}
